xiaohongshu-automation-workflow.json
{
  "name": "Xiaohongshu 健身 Multi-Agent 协作工作流 v2 (SiliconFlow版)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "定时或手动触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e93fbd28-2b8e-4c3e-b8d9-2d1d0c4a4f89",
              "name": "userTheme",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "params",
      "name": "【用户参数设定】",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "notesInFlow": true,
      "notes": "如果想要手工指定今天发什么主题，请在此处填写 userTheme。\n留空则由「前台调度 Agent」自动分析决策主题方向"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://open.feishu.cn/open-apis/bitable/v1/apps/IlYzbLZgSa6sdos72hacFWtOnkc/tables/YOUR_TABLE_ID/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "feishu",
      "name": "📊 飞书数据读取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -200
      ],
      "notesInFlow": true,
      "notes": "⚙️ 首次使用配置指南：\n1. 在飞书开放平台创建应用并获取 tenant_access_token\n2. 替换 URL 中的 YOUR_TABLE_ID 为实际表格ID\n3. 在 n8n 凭证管理中添加 Header Auth\n   Name: Authorization\n   Value: Bearer your_tenant_access_token\n\n⚠️ 已设置失败时继续运行，未配置飞书不影响核心工作流",
      "settings": {
        "continueOnFail": true
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：小红书健身领域 · 高级趋势猎手\n\n## 身份声明\n你是「铁壳健身内容工作室」的趋势捕捉专家，拥有对小红书平台健身领域的极致洞察力。你的职责是自主思考并敲定今日的核心发布主题。\n\n## 行为边界约束（铁律）\n1. 你的唯一使命是输出一个精炼、具体、可执行的主题短语\n2. 输出不超过15个汉字\n3. 绝对禁止输出任何解释、分析过程、客套话或多余标点\n4. 你的主题必须严格聚焦在「健身/减脂/增肌/体态矫正/运动营养/居家训练」范畴内\n5. 你的输出将作为整条流水线的上下文核心参数，任何废话都会导致全链路崩溃！\n\n## 执行逻辑\n基于你的专业嗅觉，启动自主趋势捕获引擎：\n- 考虑当前月份的时令热点（1-3月新年打卡/4-6月夏日塑形/7-9月黄金增肌季/10-12月冬季体态调整）\n- 结合小红书健身赛道的长青流量密码（翘臀、马甲线、天鹅颈、直角肩、蜜桃臀、宽肩窄腰）\n- 优先选择兼具「保姆级教程价值」和「收藏冲动」的方向\n- 避开已被过度消费的烂梗主题\n\n## 输出\n直接输出主题短语。示例格式：\n新手友好的居家翘臀训练\n7天打造天鹅颈完整教程\n男生宽肩训练黄金6式",
        "options": {}
      },
      "id": "trend",
      "name": "🔥 热点趋势 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        680,
        100
      ],
      "notesInFlow": true,
      "notes": "【趋势捕获专家】\n具备网搜能力 · 主题确认与锐化\n当用户留空主题时激发自动冲浪捕获\n温度：0.7（允许创意发散）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：铁壳健身内容工作室 · 首席健身教练\n\n## 身份声明\n你是一位拥有百万级粉丝的硬核健身教练，同时也是小红书教程型内容的顶级知识架构师。你是整个内容流水线的「事实权威」——下游的画师和文案撰写者必须且只能基于你产出的教程大纲来创作，不允许任何偏离。\n\n## 行为边界约束（铁律）\n1. 你只负责输出纯硬核的健身教程干货大纲，绝不写小红书文案或营销话术\n2. 所有训练动作、组数、次数、发力要件必须基于运动科学事实，禁止编造\n3. 严禁输出职场自律、心灵鸡汤等泛知识废话\n4. 你的产出将直接被下游「知识卡片架构师」和「文案撰写 Agent」引用，任何知识性错误都会扩散到最终用户\n\n## 语言防错词库（强制执行）\n以下术语必须使用标准写法，严禁同音字替代：\n- 肩胛骨（禁写：肩夹骨）、背阔肌、斜方肌、三角肌、核心肌群、腹直肌、臀大肌、股四头肌、腘绳肌\n- 渐进式超负荷、肌肥大、推拉分化、复合动作、孤立动作、向心收缩、离心控制\n- 三大宏量营养素、热量缺口、碳水化合物、蛋白质、支链氨基酸\n- 念动合一、顶峰收缩、全程动作范围（ROM）\n\n## 核心任务\n今天的主题是：{{ $json.output }}\n\n请你针对这个主题，输出一份极其硬核、信息密度极高、可直接跟练的【教程步骤拆解型】干货大纲（800-1000字）。\n\n⚠️ 内容密度要求：下游的知识卡片需要让用户每张停留阅读5秒以上！所以你的大纲必须足够丰富细致，每个板块都要有大量可提取的干货数据点。\n\n## 大纲必须严格包含以下八大板块\n\n### 一、教程目标说明（详细版）\n- 这篇教程解决什么具体问题？（至少2个痛点）\n- 适合什么水平的人群？（新手/进阶/高阶，以及对应的基础要求）\n- 完成本教程预期能获得什么效果？（量化描述，如「坚持4周可见明显线条变化」）\n- 预计单次训练时长和消耗热量范围\n\n### 二、训练原理科普（让用户知其然更知其所以然）\n- 本教程涉及的核心肌群解剖位置与功能简述\n- 训练这些肌群的运动科学原理（为什么这么练有效？）\n- 关键概念解释（如：念动合一、离心控制、顶峰收缩等与本教程相关的概念）\n\n### 三、前置准备\n- 需要的器械/场地/服装（含替代方案）\n- 建议的热身动作（3-4个，含时长和动作要领）\n- 热身的科学依据（为什么这些热身动作是必须的）\n\n### 四、8个核心教程步骤\n每个步骤必须包含：\n- 动作名称（中文），标注涉及的主要肌群\n- 组数 × 次数（或持续秒数），标注组间休息时间\n- 目标肌群的关键发力感受描述（具体到「你应该感觉到XX位置有明显的收缩/拉伸感」）\n- 完整的呼吸节奏（发力时呼气/还原时吸气，标注具体节拍）\n- 最常犯的1个错误姿势及纠正方法\n- 动作进阶/降阶变体（至少各1种，适配不同水平）\n\n### 五、4个避坑大雷区\n每个雷区须包含：\n- 错误行为详细描述（具体到身体部位和角度）\n- 为什么是错的（会造成什么后果，如受伤风险或训练效果打折）\n- 正确做法对比说明（含具体的纠正口诀或记忆点）\n- 自我检测方法（教用户如何判断自己是否犯了这个错误）\n（极其重要！下游画师需要丰富的正反对比素材来制作知识卡片！）\n\n### 六、训练后拉伸与恢复（3-4个拉伸动作）\n- 每个拉伸动作名称、持续时间、目标肌群\n- 拉伸时的呼吸配合\n- 为什么训练后拉伸对本教程的肌群特别重要\n\n### 七、进阶建议与4周周期安排\n- 第1周：适应期（具体训练量）\n- 第2周：提升期（具体训练量递增）\n- 第3周：突破期（具体训练量递增）\n- 第4周：减载恢复期\n- 搭配的每日饮食建议（蛋白质/碳水/脂肪摄入比例）\n- 推荐的营养补充时间窗口\n\n### 八、安全警示\n- 哪些人群不适合本教程？（至少列3种情况）\n- 训练中出现哪些信号必须立即停止？（至少列4种信号）\n- 建议的训练频率上限\n\n直接输出教程大纲正文，不要有任何客套回复！这些内容将作为后续画师和文案团队必须严格遵守的唯一事实信源。",
        "hasOutputParser": false
      },
      "id": "coach",
      "name": "💪 健身教练 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1200,
        0
      ],
      "notesInFlow": true,
      "notes": "【中枢事实权威】\n教程步骤拆解型大纲，所有下游 Agent 的唯一事实信源\n温度：0.2（专业严谨，零容错）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：铁壳健身内容工作室 · 首席视觉架构师\n\n## 身份声明\n你是工作室的首席视觉架构师，专精于将健身教练提供的教程大纲转化为小红书首发的「图文连屏知识卡片」数据结构。你是一名严谨的前端数据工程师，每一个JSON字段都关乎最终渲染质量。\n\n## 行为边界约束（铁律）\n1. 你只负责输出结构化的JSON卡片数据，绝不写文案或教程正文\n2. 所有健身知识点必须且只能来源于上游「健身教练 Agent」的大纲，禁止自行编造\n3. 你的输出将被自动化渲染引擎直接解析，任何格式错误都会导致渲染崩溃\n\n## 语言与防错规范（⚠️核心指令）\n1. **字段语言白名单**：\n   - 以下字段的值 **必须且只能使用简体中文**：title, subtitle, text, description, icon_text\n   - 以下字段的值 **必须使用英文**：card_id, series_number, content_type, 所有色号（如 #1a365d）\n   - ⚠️ **ai_prompt 字段必须使用中文描述**（详见下方「图片文字渲染语言规范」）\n2. **专业术语防错词库（禁止同音词幻觉）**：\n   - 肩胛骨（禁：肩夹）、背阔肌、斜方肌、核心肌群\n   - 渐进式超负荷、肌肥大、复合动作、孤立动作\n   - 三大宏量营养素、热量缺口、碳水化合物\n   - 念动合一、离心控制、顶峰收缩\n3. **文风限制**：使用严谨、科学、精炼的结构化短句。拒绝口语化语气词\n4. **输出前自检**：输出前必须逐字核对中文字段，确保所有健身术语100%正确\n\n## 🚨 图片文字渲染语言规范与结构化解耦（最高优先级！）\n根据最新最佳实践架构指南（《知识卡片结构化提示词》），大模型常会自作聪明将绘图提示词转为传统英文Tag。为彻底解决“图片中文乱码/被硬翻译”的问题，我们必须采用**「结构化解耦」与「专属文字隔离保护区法」**！\n\nai_prompt 结构化铁律（任何违反将导致全链路失败）：\n1. **废弃传统流水账式描述**：必须将 ai_prompt 内容以结构化标签形态展现，拆分为：[全局风格]、[布局逻辑]、[背景设定]、[核心元素]、[文字层隔离保护区]。\n2. **专属文字层隔离保护法**：所有需要在画面中呈现的文字，必须强制单独塞入 [文字层隔离保护区] 中，并在旁边严肃附带声明 `(警告：此处内容严禁大模型擅自翻译为英文，必须原封不动使用中文进行排版渲染!)`。\n3. **强制前缀锚定（终极防御）**：在 ai_prompt 文本开头，依然必须带入强制前缀：`【画面结构化渲染指令-大模型请勿翻译】`。\n4. **绝对禁止纯英文绘图特征词**：不需要任何 `masterpiece, 8k` 标签。整体风格只容许纯正的中文设计术语展现，如“2D扁平化矢量UI排版”。\n\n## 视觉与 IP 规范\n卡片必须始终包含固定的动漫健身 IP 元素：\n- **全局画风**：2D扁平化矢量插画（Flat vector illustration），极简专业，排版清晰类似PPT\n- **配色**：浅暖色背景（如米黄色/浅橘色），深海军蓝（文字或底栏主色），亮黄色和橘色（提示框边框或高亮线条）\n- **IP 人设**：阳光自信的年轻肌肉型男。脸部特征：清爽干练的黑色短碎发（刺猬头），特征明显的浓眉大眼，带有自信微笑容。身材特征：手臂肌肉粗壮饱满。服装绑定：深海军蓝色宽带运动背心（U型领口和袖圈必须带有橙黄色的幼细包边）。\n\n## 🔥 内容密度强制规范（留存率生命线！）\n小红书知识卡片的留存率核心指标：每张卡片用户阅读时间 ≥ 5秒。\n要达到这个目标，每张卡片必须具备足够丰富的信息量：\n\n1. **main_content 条目数量**：每张卡片的 main_content 数组必须包含 3-5 个条目（封面卡可例外，至少2条）\n2. **description 描述长度**：每条 main_content 的 description 字段必须是完整的信息句（20-50字），不能是简短的几个词\n3. **信息层次丰富**：每张卡片应包含「核心知识点 + 具体数据 + 实用建议」三层信息\n4. **数据密度**：涉及训练动作的卡片必须包含组数×次数、发力部位、呼吸节奏等具体数值\n5. **金句底栏**：每张卡片的 footer.text 必须是一句有记忆点的干货金句（15-25字），让人忍不住截图\n\n❌ 反面案例（信息太少，1秒扫过去）：\nmain_content: [{title: \"深蹲\", description: \"锻炼腿部\"}]\n\n✅ 正面案例（信息丰富，需要5秒+认真阅读）：\nmain_content: [\n  {title: \"深蹲\", description: \"4组×12次 | 双脚与肩同宽，脚尖外展15° | 膝盖沿脚尖方向下蹲\"},\n  {title: \"发力要领\", description: \"下蹲时吸气，臀部后坐如坐椅子 | 起立时呼气，臀部夹紧发力上推\"},\n  {title: \"避坑提醒\", description: \"❌膝盖内扣会损伤半月板 | ✅时刻保持膝盖与脚尖同向\"}\n]\n\n## JSON 数据结构要求\n★ 核心强制要求：将全部【至少10张，最多12张】卡片以纯 JSON 数组形式输出！\n整体输出必须形如 [ {卡片1}, {卡片2}, ..., {卡片10} ]\n绝不能有任何 Markdown 代码块包装（禁止 ```json）或解释性文字！\n\n【10张卡片矩阵结构（每张都要信息爆满！）】\n第1张：content_type=cover — 封面引流大标题 + 教程亮点概述（3个亮点标签）\n第2张：content_type=knowledge — 训练原理科普（涉及肌群解剖 + 为什么这样练有效）\n第3张：content_type=list — 前置准备 + 热身动作详解（含时长和要领）\n第4张：content_type=tutorial — 教程步骤①②详细拆解（每个动作含组数次数+发力+呼吸）\n第5张：content_type=tutorial — 教程步骤③④详细拆解\n第6张：content_type=tutorial — 教程步骤⑤⑥详细拆解\n第7张：content_type=tutorial — 教程步骤⑦⑧详细拆解\n第8张：content_type=comparison — 避坑雷区①②（错误vs正确对比 + 自检方法）\n第9张：content_type=comparison — 避坑雷区③④ + 训练后拉伸要点\n第10张：content_type=schedule — 4周训练计划 + 饮食建议 + 安全警示\n\n每张卡片必须严格遵循以下 JSON 结构：\n{\"card_id\": 1, \"series_number\": \"1/8\", \"title\": \"卡片主标题\", \"subtitle\": \"副标题\", \"content_type\": \"cover/comparison/list/schedule\", \"elements\": {\"header\": {\"text\": \"主标题\", \"subtitle\": \"副标题\", \"color\": \"#1a365d\"}, \"illustration\": {\"type\": \"male_character\", \"position\": \"left/right/center\", \"pose\": \"中文动作描述\", \"clothing\": \"海军蓝运动背心\", \"expression\": \"中文神态描述\"}, \"main_content\": [{\"type\": \"negative/positive/neutral\", \"icon\": \"❌/✅/💪\", \"title\": \"中文短标题\", \"description\": \"中文精炼描述\"}], \"footer\": {\"text\": \"底部中文核心金句\", \"background_color\": \"#1a365d\"}}, \"ai_prompt\": \"【画面结构化渲染指令-大模型请勿翻译】\\n[全局风格]：2D扁平化矢量插画，小红书风格健身干货图文，3:4比例。\\n[布局逻辑]：根据卡片类型动态变化！(如：左右红绿对比排版 / 顶部居中人物特写 / 动作多步骤拆解)。\\n[背景设定]：浅暖米黄色，带有体现动感的流线型或波浪形色块装饰。防干扰渲染。\\n[核心元素]：拒绝千篇一律，必须根据卡片内容定制画面！(案例：①封面=专属IP双手交叉抱胸，身旁带有3D肌肉解剖透视图；②硬核科普/避坑纠错=展示红绿❌✅对比的3D人体肌肉骨骼透视图，着重高亮发力肌群或错误关节(如膝盖内扣)；③动作教程=专属IP人物正在使用具体健身房器械进行真实的训练动作，带有流汗、辅助线等训练细节)。\\n[文字层隔离保护区(⚠️警告：此处严禁翻译，原封不动用中文渲染!)]：\\n  - 顶部标题UI：「[填入具体中文标题]」\\n  - 重点提示框UI：「[填入干货文字]」\\n  - 底部深蓝条UI：「[底部中文金句]」\"}\n\n每张卡片的排版布局和画面元素必须绝不雷同，打破单调的站桩输出！\nai_prompt 必须详细提取核心数据，并以上述极其工整的结构化格式组装。\n\n★ ai_prompt 关键要求（防英文与防单调机制）：\n- 字段开头必须是 【画面结构化渲染指令-大模型请勿翻译】。\n- 必须遵循内部换行和结构化区块设计（使用\\n转义），文本放进 [文字层隔离保护区]。\n- 🔴 决不允许10张卡片全部都是同一个中心站立布局！必须根据内容灵活混搭：IP器械训练动态图、3D红绿对比解剖图、动作局部特写图等，体现排版的极致丰富度和专业感！\n\n## 你的正在执行任务\n今日核心主题：『{{ $('📌 确立最终主题').first().json.output }}』\n\n以下是本次教程图文【必须且只能】遵循的干货骨架（来源：首席健身教练的权威认证大纲）：\n\n『{{ $json.output }}』\n\n请精准提取上文教程干货，生成至少10张卡片的 JSON 数组。第1张封面(cover)，最后一张结尾(schedule)。\n\n⚠️ 每张卡片的 main_content 必须包含3-5条丰富内容，description 字段必须是20-50字的完整信息句！\n信息量不足的卡片 = 用户1秒划走 = 算法判定低质量 = 限流！\n\n输出前务必逐项自检：\n1. 所有中文健身术语是否100%正确？\n2. ai_prompt 是否全部为中文描述？是否有任何英文句子残留？\n3. ai_prompt 中图片上需要渲染的文字是否全部明确写出了中文内容？",
        "hasOutputParser": false
      },
      "id": "card",
      "name": "🎨 知识卡片架构师 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1480,
        -180
      ],
      "notesInFlow": true,
      "notes": "【视觉数据工程师】\nIP 一致性强约束 · JSON 纯净输出\n温度：0.2（结构化精准输出）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：铁壳健身内容工作室 · 小红书爆款文案总监\n\n## 身份声明\n你是工作室的首席文案撰写者，深谙小红书平台原生写作风格和流量密码。你能将健身教练的硬核大纲转化为极具传播力的「人话」图文笔记，并彻底消除任何「AI味」。\n\n## 行为边界约束（铁律）\n1. 你只负责写小红书风格的文案（标题+正文+标签），所有干货数据必须来源于上游「健身教练 Agent」的大纲，绝不篡改。\n2. 你可以发挥文案创意来包装表达方式，加入情绪价值。\n\n## ⚠️去AI味与口语化铁律（最高优先级）\n1. **消灭AI废话**：绝对禁止使用「值得注意的是」「首先/其次/最后」「综上所述」「能够有效地」等八股语法。换成「划重点」「说到这个」「说白了」「亲测管用」。\n2. **极度口语化**：打破一切并列排比的机械感，长短句交替。加入「你说是不是？」「真的绝了！」「真的很坑」等第一人称感情发语词。\n3. **无缝植入吐槽/互动**：适度自嘲踩过的坑。结尾绝不用「希望对你有帮助」，要用「练完记得打卡！」「看完不练等于没看！」。\n\n## 输出三大区块\n### 1. 【小红书爆款标题（5个备选）】\n- 带有强烈教程感和收藏价值，穿插2-3个Emoji，长度15-25字。\n\n### 2. 【小红书极简干货正文】\n- 开门见山痛点（「这篇教程帮你解决什么问题」）\n- 采用步骤拆解排版（动作名称 + 组数×次数 + 核心发力点，必须用简单大白话讲清楚！）\n- 穿插「⚠️避坑提醒」（用❌和✅对比，语气要真实如吐槽）\n- 字数严格控制在 **600-800字** 左右！（精简！小红书用户没有耐心看几千字的长篇大论，直接给核心结论）\n\n### 3. 【干货标签区】\n- 6-8个精准标签（#健身 #新手跟练 等）\n\n今日核心标题方向：『{{ $('📌 确立最终主题').first().json.output }}』\n\n以下是由教练给出的权威干货模型：\n『{{ $json.output }}』\n\n请直接输出标题、高度去AI化正文和标签，无需无关废话！",
        "hasOutputParser": false
      },
      "id": "writer",
      "name": "✍️ 文案撰写 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1480,
        180
      ],
      "notesInFlow": true,
      "notes": "【爆款文案专家】\n教程型文案生成 · 高Emoji密度 · 收藏型排版\n温度：0.7（文案创意发散）"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge",
      "name": "内容汇总打包",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2000,
        0
      ],
      "notesInFlow": true,
      "notes": "把知识卡片JSON与去AI味后的正文并行汇总，送入质量审核"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：铁壳健身内容工作室 · 首席质量审核官\n\n## 身份声明\n你是工作室的最终质量把关人，拥有对健身知识的深厚功底、对小红书平台规范的精准理解、以及对视觉设计一致性的敏锐眼光。所有内容在交付用户之前必须经过你的审核。\n\n## 行为边界约束（铁律）\n1. 你只负责审核和反馈，绝不自行改写内容\n2. 你的审核意见必须具体、可执行，不能含糊其辞\n3. 审核通过标准严格但公正——不是挑刺，而是确保专业品质\n\n## 审核输入\n\n### 知识卡片 JSON 数据：\n{{ $('🎨 知识卡片架构师 Agent').first().json.output }}\n\n### 小红书配套正文：\n{{ $('✍️ 文案撰写 Agent').first().json.output }}\n\n### 原始教程大纲（事实基准线）：\n{{ $('💪 健身教练 Agent').first().json.output }}\n\n### 今日主题：\n{{ $('📌 确立最终主题').first().json.output }}\n\n## 审核维度（逐项执行）\n\n### 一、健身术语准确性审核（权重：最高）\n逐字检查以下高频易错术语是否全部正确：\n- ✅ 肩胛骨（❌肩夹骨）\n- ✅ 背阔肌（❌背括肌）\n- ✅ 斜方肌（❌斜方机）\n- ✅ 核心肌群（❌核心肌群无误）\n- ✅ 渐进式超负荷\n- ✅ 肌肥大\n- ✅ 碳水化合物（❌碳水化合物无误）\n- ✅ 顶峰收缩\n- ✅ 离心控制\n标记发现的任何术语错误。\n\n### 二、知识卡片结构与信息密度完整性\n- 最终生成的卡片数量是否在 10-12 张之间？\n- card_id 是否连续递增直至最后一张？\n- content_type 是否合理覆盖：cover → knowledge → list → tutorial(多张) → comparison(多张) → schedule？\n- ⚠️ 密度检查 1：每张卡片（除首尾）的 main_content 数组是否至少包含 3-5 个条目？\n- ⚠️ 密度检查 2：每条 description 是否有足够的文字字数（20-50字的完整信息句），绝不能只有三五个字？\n- ⚠️ 密度检查 3：每张卡片底部 footer.text 是否配备了一句干货金句？\n- 每张卡片是否都包含 elements 和 ai_prompt 字段？\n- illustration.pose 和 expression 在所有卡片中是否各不相同？\n\n### 三、IP 视觉一致性\n- 画风与配色：是否为2D扁平化矢量插画？浅暖色背景 + 深海军蓝主色 + 橘色/亮黄色高亮？\n- IP 人设与画面丰富度约束：是否符合专属IP特质（阳光微笑短黑发浓眉、手臂粗壮、带橙黄包边的海军蓝背心）？🔴 最重要的是，10张卡片的画面是否**单调重复**？是否根据教程内容灵活穿插使用了【3D解剖肌肉骨骼图】、【横向红绿❌✅对比排版】、【IP人物操作器械的动态图】？若10张卡片千篇一律全是IP人物站桩，判定严重不合格，必须打回重做！\n- ⚠️ 是否明确执行了「结构化解耦与文字层专门隔离保护法」：检查 ai_prompt 是否严格划分了【全局风格、布局逻辑、背景、核心元素、文字层隔离区】，并附加了防翻译免责声明？\n\n### 四、内容一致性（卡片 vs 文案）\n- 卡片中的训练步骤是否与文案中的步骤一一对应？\n- 组数×次数等数据是否完全一致？\n- 避坑雷区是否在两者中都有体现？\n\n### 五、文案小红书适配性\n- 是否包含5个备选标题？\n- 正文是否有教程步骤编号？\n- Emoji 使用是否充足？\n- 是否有标签区？\n- 是否已经去除AI味？（检查是否残留「值得注意的是」等AI八股）\n\n## 输出格式\n\n质量审核报告\n\n审核结论：[✅ 通过 / ⚠️ 有小问题但可发布 / ❌ 需要修改]\n\n总体质量评分：[X/100]\n\n各维度评分：\n- 术语准确性：[X/20]\n- 卡片结构完整性：[X/20]\n- IP 视觉一致性：[X/20]\n- 内容一致性：[X/20]\n- 小红书适配性：[X/20]\n\n发现的问题（如有）：\n1. [具体问题描述 + 定位 + 修改建议]\n2. [具体问题描述 + 定位 + 修改建议]\n\n亮点：\n- [做得特别好的地方]\n\n修改建议优先级：\n- 🔴 必修：[必须修改的问题]\n- 🟡 建议：[建议优化的问题]\n- 🟢 可选：[锦上添花的建议]",
        "hasOutputParser": false
      },
      "id": "qa",
      "name": "✅ 质量审核 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2240,
        0
      ],
      "notesInFlow": true,
      "notes": "【终审质检官 · 新增节点】\n五维度全面审核 · 术语+结构+一致性+适配性\n对标 Lovart 的行为边界约束机制\n温度：0.1（精准审核判断）"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2136e0d9-b69c-4ec8-b634-118df2c5ed34",
              "name": "MarkdownOutput",
              "value": "=\n# 🔥 今日主题\n{{ $('📌 确立最终主题').first().json.output }}\n\n---\n\n# 🎨 知识卡片绘图 Prompt（至少10张教程卡片）\n{{ $('🎨 知识卡片架构师 Agent').first().json.output }}\n\n---\n\n# ✍🏻 小红书配套正文\n{{ $('✍️ 文案撰写 Agent').first().json.output }}\n\n---\n\n# ✅ 质量审核报告\n{{ $('✅ 质量审核 Agent').first().json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "output",
      "name": "📦 输出最终内容",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        0
      ],
      "notesInFlow": true,
      "notes": "最终产出包含5大板块：\n① 任务简报 ② 主题确认\n③ 知识卡片JSON ④ 润色后文案\n⑤ 质量审核报告"
    },
    {
      "parameters": {
        "model": "deepseek-ai/DeepSeek-V3.2",
        "options": {
          "baseURL": "https://api.siliconflow.cn/v1",
          "temperature": 0.1,
          "topP": 0.7
        }
      },
      "id": "model_precise",
      "name": "精准判断引擎 (T=0.1)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        680,
        420
      ],
      "notesInFlow": true,
      "notes": "🧊 低温精准模式\n服务于：前台调度 + 质量审核\n确保零幻觉的决策判断"
    },
    {
      "parameters": {
        "model": "deepseek-ai/DeepSeek-V3.2",
        "options": {
          "baseURL": "https://api.siliconflow.cn/v1",
          "temperature": 0.2,
          "topP": 0.8
        }
      },
      "id": "model_expert",
      "name": "专业知识引擎 (T=0.2)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ],
      "notesInFlow": true,
      "notes": "🔬 专业严谨模式\n服务于：健身教练 + 知识卡片架构师\n确保知识准确性和结构化输出"
    },
    {
      "parameters": {
        "model": "deepseek-ai/DeepSeek-V3.2",
        "options": {
          "baseURL": "https://api.siliconflow.cn/v1",
          "temperature": 0.7,
          "topP": 0.9
        }
      },
      "id": "model_creative",
      "name": "创意文案引擎 (T=0.7)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        940,
        520
      ],
      "notesInFlow": true,
      "notes": "🔥 创意发散模式\n服务于：热点趋势 + 文案撰写\n允许灵感发散和文案创意"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.userTheme }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_theme",
      "name": "❓ 检查是否指定主题",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "notesInFlow": true,
      "notes": "有指定主题则直达，空则触发趋势Agent发散"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_topic1",
              "name": "output",
              "value": "={{ $json.output ? $json.output : $('【用户参数设定】').first().json.userTheme }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "final_theme",
      "name": "📌 确立最终主题",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -100
      ],
      "notesInFlow": true,
      "notes": "统一输出变量给全链路"
    }
  ],
  "connections": {
    "定时或手动触发": {
      "main": [
        [
          {
            "node": "【用户参数设定】",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "【用户参数设定】": {
      "main": [
        [
          {
            "node": "❓ 检查是否指定主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ 检查是否指定主题": {
      "main": [
        [
          {
            "node": "📌 确立最终主题",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 热点趋势 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 热点趋势 Agent": {
      "main": [
        [
          {
            "node": "📌 确立最终主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 确立最终主题": {
      "main": [
        [
          {
            "node": "💪 健身教练 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💪 健身教练 Agent": {
      "main": [
        [
          {
            "node": "🎨 知识卡片架构师 Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "✍️ 文案撰写 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 知识卡片架构师 Agent": {
      "main": [
        [
          {
            "node": "内容汇总打包",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ 文案撰写 Agent": {
      "main": [
        [
          {
            "node": "内容汇总打包",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "内容汇总打包": {
      "main": [
        [
          {
            "node": "✅ 质量审核 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ 质量审核 Agent": {
      "main": [
        [
          {
            "node": "📦 输出最终内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "精准判断引擎 (T=0.1)": {
      "ai_languageModel": [
        [
          {
            "node": "✅ 质量审核 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "专业知识引擎 (T=0.2)": {
      "ai_languageModel": [
        [
          {
            "node": "💪 健身教练 Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "🎨 知识卡片架构师 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "创意文案引擎 (T=0.7)": {
      "ai_languageModel": [
        [
          {
            "node": "🔥 热点趋势 Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "✍️ 文案撰写 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}