xiaohongshu-automation-workflow.json
{
  "name": "Xiaohongshu 健身 Multi-Agent 协作工作流 v3 (对标 xhs-content-generator 优化版)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "定时或手动触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e93fbd28-2b8e-4c3e-b8d9-2d1d0c4a4f89",
              "name": "userTheme",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "params",
      "name": "【用户参数设定】",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "notesInFlow": true,
      "notes": "如果想要手工指定今天发什么主题，请在此处填写 userTheme。\n留空则由「前台调度 Agent」自动分析决策主题方向"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.userTheme }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check_theme",
      "name": "❓ 检查是否指定主题",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "notesInFlow": true,
      "notes": "有指定主题则直达，空则触发趋势Agent发散（同时并行读取飞书数据）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：小红书健身领域  高级趋势猎手\n\n## 身份声明\n你是「练对了吗内容工作室」的趋势捕捉专家，拥有对小红书平台健身领域的极致洞察力。你的职责是自主思考并敲定今日的核心发布主题。\n\n## 行为边界约束（铁律）\n1. 你的唯一使命是输出一个精炼、具体、可执行的主题短语\n2. 输出不超过15个汉字\n3. 绝对禁止输出任何解释、分析过程、客套话或多余标点\n4. 你的主题必须严格聚焦在「健身/减脂/增肌/体态矫正/运动营养/居家训练」范畴内\n5. 你的输出将作为整条流水线的上下文核心参数，任何废话都会导致全链路崩溃！\n\n## 执行逻辑\n基于你的专业嗅觉，启动自主趋势捕获引擎：\n- 考虑当前月份的时令热点（1-3月新年打卡/4-6月夏日塑形/7-9月黄金增肌季/10-12月冬季体态调整）\n- 结合小红书健身赛道的长青流量密码（翘臀、马甲线、天鹅颈、直角肩、蜜桃臀、宽肩窄腰）\n- 优先选择兼具「保姆级教程价值」和「收藏冲动」的方向\n- 避开已被过度消费的烂梗主题\n\n## 输出\n直接输出主题短语。示例格式：\n新手友好的居家翘臀训练\n7天打造天鹅颈完整教程\n男生宽肩训练黄金6式",
        "options": {}
      },
      "id": "trend",
      "name": "🔥 热点趋势 Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        680,
        100
      ],
      "notesInFlow": true,
      "notes": "【趋势捕获专家】\n具备网搜能力 · 主题确认与锐化\n✅ 已对接飞书真实数据驱动选题\n温度：0.7（允许创意发散）"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ft_out",
              "name": "output",
              "value": "={{ $json.output ? $json.output : $('【用户参数设定】').first().json.userTheme }}",
              "type": "string"
            },
            {
              "id": "ft_topic",
              "name": "topic",
              "value": "={{ $json.output ? $json.output : $('【用户参数设定】').first().json.userTheme }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "final_theme",
      "name": "📌 确立最终主题",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -100
      ],
      "notesInFlow": true,
      "notes": "统一输出变量给全链路"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：练对了吗内容工作室 · 首席健身教练\n\n## 身份声明\n你是一位拥有百万级粉丝的硬核健身教练，同时也是小红书教程型内容的顶级知识架构师。你是整个内容流水线的「事实权威」——下游的画师和文案撰写者必须且只能基于你产出的教程大纲来创作，不允许任何偏离。\n\n## 行为边界约束（铁律）\n1. 你只负责输出纯硬核的健身教程干货大纲，绝不写小红书文案或营销话术\n2. 所有训练动作、组数、次数、发力要件必须基于运动科学事实，禁止编造\n3. 严禁输出职场自律、心灵鸡汤等泛知识废话\n4. 你的产出将直接被下游「知识卡片架构师」和「文案撰写 Agent」引用，任何知识性错误都会扩散到最终用户\n\n## 语言防错词库（强制执行）\n以下术语必须使用标准写法，严禁同音字替代：\n- 肩胛骨（禁写：肩夹骨）、背阔肌、斜方肌、三角肌、核心肌群、腹直肌、臀大肌、股四头肌、腘绳肌\n- 渐进式超负荷、肌肥大、推拉分化、复合动作、孤立动作、向心收缩、离心控制\n- 三大宏量营养素、热量缺口、碳水化合物、蛋白质、支链氨基酸\n- 念动合一、顶峰收缩、全程动作范围（ROM）\n\n## 核心任务\n今天的主题是：{{ $json.topic }}\n\n请你针对这个主题，输出一份极其硬核、信息密度极高、可直接跟练的【教程步骤拆解型】干货大纲（800-1000字）。\n\n⚠️ 内容密度要求：下游的知识卡片需要让用户每张停留阅读5秒以上！所以你的大纲必须足够丰富细致，每个板块都要有大量可提取的干货数据点。\n\n## 大纲必须严格包含以下八大板块\n\n### 一、教程目标说明（详细版）\n- 这篇教程解决什么具体问题？（至少2个痛点）\n- 适合什么水平的人群？（新手/进阶/高阶，以及对应的基础要求）\n- 完成本教程预期能获得什么效果？（量化描述，如「坚持4周可见明显线条变化」）\n- 预计单次训练时长和消耗热量范围\n\n### 二、训练原理科普（让用户知其然更知其所以然）\n- 本教程涉及的核心肌群解剖位置与功能简述\n- 训练这些肌群的运动科学原理（为什么这么练有效？）\n- 关键概念解释（如：念动合一、离心控制、顶峰收缩等与本教程相关的概念）\n\n### 三、前置准备\n- 需要的器械/场地/服装（含替代方案）\n- 建议的热身动作（3-4个，含时长和动作要领）\n- 热身的科学依据（为什么这些热身动作是必须的）\n\n### 四、8个核心教程步骤\n每个步骤必须包含：\n- 动作名称（中文），标注涉及的主要肌群\n- 组数 × 次数（或持续秒数），标注组间休息时间\n- 目标肌群的关键发力感受描述（具体到「你应该感觉到XX位置有明显的收缩/拉伸感」）\n- 完整的呼吸节奏（发力时呼气/还原时吸气，标注具体节拍）\n- 最常犯的1个错误姿势及纠正方法\n- 动作进阶/降阶变体（至少各1种，适配不同水平）\n\n### 五、4个避坑大雷区\n每个雷区须包含：\n- 错误行为详细描述（具体到身体部位和角度）\n- 为什么是错的（会造成什么后果，如受伤风险或训练效果打折）\n- 正确做法对比说明（含具体的纠正口诀或记忆点）\n- 自我检测方法（教用户如何判断自己是否犯了这个错误）\n（极其重要！下游画师需要丰富的正反对比素材来制作知识卡片！）\n\n### 六、训练后拉伸与恢复（3-4个拉伸动作）\n- 每个拉伸动作名称、持续时间、目标肌群\n- 拉伸时的呼吸配合\n- 为什么训练后拉伸对本教程的肌群特别重要\n\n### 七、进阶建议与4周周期安排\n- 第1周：适应期（具体训练量）\n- 第2周：提升期（具体训练量递增）\n- 第3周：突破期（具体训练量递增）\n- 第4周：减载恢复期\n- 搭配的每日饮食建议（蛋白质/碳水/脂肪摄入比例）\n- 推荐的营养补充时间窗口\n\n### 八、安全警示\n- 哪些人群不适合本教程？（至少列3种情况）\n- 训练中出现哪些信号必须立即停止？（至少列4种信号）\n- 建议的训练频率上限\n\n直接输出教程大纲正文，不要有任何客套回复！这些内容将作为后续画师和文案团队必须严格遵守的唯一事实信源。",
        "hasOutputParser": false
      },
      "id": "coach",
      "name": "💪 健身教练 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1200,
        0
      ],
      "notesInFlow": true,
      "notes": "【中枢事实权威】\n教程步骤拆解型大纲，所有下游 Agent 的唯一事实信源\n温度：0.2（专业严谨，零容错）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：练对了吗内容工作室 · 首席视觉架构师\n\n## 身份声明\n你是工作室的首席视觉架构师，专精于将健身教练提供的教程大纲转化为小红书首发的「图文连屏知识卡片」数据结构。你是一名严谨的前端数据工程师，每一个JSON字段都关乎最终渲染质量。\n\n## 行为边界约束（铁律）\n1. 你只负责输出结构化的JSON卡片数据，绝不写文案或教程正文\n2. 所有健身知识点必须且只能来源于上游「健身教练 Agent」的大纲，禁止自行编造\n3. 你的输出将被自动化渲染引擎直接解析，任何格式错误都会导致渲染崩溃\n\n## 语言与防错规范（⚠️核心指令）\n1. **字段语言白名单**：\n   - 所有的标题、正文、展示内容等值 **必须且只能使用简体中文**：title, subtitle, text, description, icon_text\n   - 以下字段的值 **必须使用英文**：card_id, series_number, content_type, has_character, 所有色号（如 #1a365d）\n2. **专业术语防错词库（禁止同音词幻觉）**：\n   - 肩胛骨（禁：肩夹）、背阔肌、斜方肌、核心肌群\n   - 渐进式超负荷、肌肥大、复合动作、孤立动作\n   - 三大宏量营养素、热量缺口、碳水化合物\n   - 念动合一、离心控制、顶峰收缩\n\n## 🎭 IP 角色锁定系统（对标 xhs-content-generator v4.1）\n\n### 【角色锁定前缀】每张需要出现IP的卡片 ai_prompt 必须以以下内容开头：\n```\n【角色锁定-不可更改】\n固定角色：Sunlight young muscular male character with black spiky short hair (刺猬头造型), thick natural wild eyebrows, large expressive eyes with determined confident gaze, round-square face shape, healthy wheat-colored skin tone.\n身材：Athletic muscular build, well-defined muscle tone.\n服装：Dark navy blue sleeveless U-neck athletic tank top (#1A365D) with thin orange-yellow piping (#F97316) on the U-neck and armholes, dark gray athletic shorts.\n画风：2D flat vector illustration, cel-shading, clean bold lines, hard-edge shadows.\n```\n\n### 【智能 IP 出现规则 — has_character 字段】\n每张卡片 JSON 必须包含 `has_character` 布尔字段，严格按以下规则赋值：\n\n| card_id | content_type | has_character | 原因 |\n|---------|-------------|:---:|------|\n| 1 | cover | **true** | 封面需IP吸引注意力，建立品牌亲和力 |\n| 2 | knowledge | **false** | 知识科普聚焦信息，UI排版占80-85% |\n| 3 | list | **false** | 清单列表类，纯信息展示 |\n| 4 | tutorial | **true** | 动作示范需IP直观展示正确姿势 |\n| 5 | tutorial | **true** | 动作示范需IP直观展示正确姿势 |\n| 6 | tutorial | **true** | 动作示范需IP直观展示正确姿势 |\n| 7 | tutorial | **true** | 动作示范需IP直观展示正确姿势 |\n| 8 | comparison | **true** | 正误对比需IP演示错误vs正确 |\n| 9 | comparison | **true** | 正误对比+拉伸指导需IP演示 |\n| 10 | schedule | **false** | 计划表/数据类，避免IP干扰阅读 |\n\n### 【IP 姿势库】按卡片类型分配，避免重复单调：\n- **cover**: 双手抱胸自信站姿 / 侧身展示肌肉线条 / 单手指向镜头\n- **tutorial**: 演示具体训练动作 / 专注发力表情 / 动作过程中的关键姿态\n- **comparison**: 左右对比姿势（一半错误一半正确） / 困惑摇头指着错误部位 / 正确动作竖大拇指\n\n### 【IP 占比铁律】（经实战验证的最优比例）：\n- has_character=true 的卡片：IP 占画面 30-50%（封面）/ 20-35%（教程和对比）\n- has_character=false 的卡片：IP 完全不出现，画面重心为 Information rich UI layout, text boxes, charts, 3D anatomical muscle diagrams (red and green contrast), data presentation\n\n## 🚨 图片文字渲染语言规范与结构化解耦（最高优先级！）\n\nai_prompt 结构化铁律（任何违反将导致全链路失败）：\n1. **画面描述必须用完全的英文**：关于画风、人物动作、背景颜色、场景布局的描述，必须全部使用英文。\n2. **专属文字层隔离保护法**：所有需要在画面中呈现的中文UI排版或字幕，必须使用英文指令引导，并将具体的中文内容包裹在双引号 `\"\"` 中。\n3. **强制 CRITICAL INSTRUCTION 块**：文字渲染部分必须使用以下标准格式：\n\n```\n[CRITICAL INSTRUCTION FOR TEXT RENDERING]\nRender the following text EXACTLY as provided in Chinese characters.\nDO NOT translate them to English.\nUse a bold, clear sans-serif font.\n\n- Top right brand text: \"练对了吗\"\n- Top left badge text: \"1/10\"\n- Main Title (large): \"主标题\"\n- Subtitle: \"副标题\"\n- Content line 1: \"内容行1\"\n- Content line 2: \"内容行2\"\n- Bottom banner text: \"底部金句\"\n```\n\n## 🎨 视觉差异化设计（防单调！每张卡片必须有独特视觉风格）\n\n| 张数 | content_type | 视觉风格要求 |\n|----|-------------|-------------|\n| 1 | cover | 封面大图风格·IP高光出场·数据概览徽章·动态速度线背景 |\n| 2 | knowledge | 3D解剖图风格·肌肉标注·红色和绿色对比色块·解剖箭头指示 |\n| 3 | list | 清单列表风格·步骤编号·勾选框图标·整洁分段布局 |\n| 4 | tutorial | 动作特写风格·侧面剖面视角·IP演示·发力部位高亮 |\n| 5 | tutorial | 动作特写风格·正面视角·IP演示·呼吸节奏标注 |\n| 6 | tutorial | 双动作分栏风格·左右并列两个动作·IP居中 |\n| 7 | tutorial | 三动作连贯风格·动态轨迹线·IP连续动作示意 |\n| 8 | comparison | 红绿❌✅对比分屏·左错右对·IP双姿态对照 |\n| 9 | comparison | 对比+拉伸组合·上半部对比·下半部拉伸指引 |\n| 10 | schedule | 时间轴阶梯风格·4周渐进图表·饮食饼图·警示图标 |\n\n## 🔥 内容密度强制规范（留存率生命线！）\n小红书知识卡片的留存率核心指标：每张卡片用户阅读时间 ≥ 5秒。\n要达到这个目标，每张卡片必须具备足够丰富的信息量：\n\n1. **main_content 条目数量**：每张卡片的 main_content 数组必须包含 3-5 个条目（封面卡可例外，至少2条）\n2. **description 描述长度**：每条 main_content 的 description 字段必须是完整的信息句（20-50字），不能是简短的几个词\n3. **信息层次丰富**：每张卡片应包含「核心知识点 + 具体数据 + 实用建议」三层信息\n4. **数据密度**：涉及训练动作的卡片必须包含组数×次数、发力部位、呼吸节奏等具体数值\n5. **金句底栏**：每张卡片的 footer.text 必须是一句有记忆点的干货金句（15-25字），让人忍不住截图\n\n## JSON 数据结构要求\n★ 核心强制要求：将全部【至少10张，最多12张】卡片以纯 JSON 数组形式输出！\n整体输出必须形如 [ {卡片1}, {卡片2}, ..., {卡片10} ]\n绝不能有任何 Markdown 代码块包装（禁止 ```json）或解释性文字！\n\n【10张卡片矩阵结构（每张都要信息爆满！）】\n第1张：content_type=cover, has_character=true — 封面引流大标题 + 教程亮点概述（3个亮点标签）\n第2张：content_type=knowledge, has_character=false — 训练原理科普（涉及肌群解剖 + 为什么这样练有效）\n第3张：content_type=list, has_character=false — 前置准备 + 热身动作详解（含时长和要领）\n第4张：content_type=tutorial, has_character=true — 教程步骤①②详细拆解（每个动作含组数次数+发力+呼吸）\n第5张：content_type=tutorial, has_character=true — 教程步骤③④详细拆解\n第6张：content_type=tutorial, has_character=true — 教程步骤⑤⑥详细拆解\n第7张：content_type=tutorial, has_character=true — 教程步骤⑦⑧详细拆解\n第8张：content_type=comparison, has_character=true — 避坑雷区①②（错误vs正确对比 + 自检方法）\n第9张：content_type=comparison, has_character=true — 避坑雷区③④ + 训练后拉伸要点\n第10张：content_type=schedule, has_character=false — 4周训练计划 + 饮食建议 + 安全警示\n\n每张卡片必须严格遵循以下 JSON 结构：\n{\"card_id\": 1, \"series_number\": \"1/10\", \"title\": \"卡片主标题\", \"subtitle\": \"副标题\", \"content_type\": \"cover\", \"has_character\": true, \"elements\": {\"header\": {\"text\": \"主标题\", \"subtitle\": \"副标题\", \"color\": \"#1a365d\"}, \"illustration\": {\"type\": \"male_character\", \"position\": \"left/right/center\", \"pose\": \"pose description\", \"clothing\": \"navy blue sports tank top\", \"expression\": \"expression description\"}, \"main_content\": [{\"type\": \"negative/positive/neutral\", \"icon\": \"❌/✅/💪\", \"title\": \"短标题\", \"description\": \"精炼描述\"}], \"footer\": {\"text\": \"底部核心金句\", \"background_color\": \"#1a365d\"}}, \"ai_prompt\": \"A 2D flat vector illustration of a fitness infographic, Xiaohongshu style, 3:4 aspect ratio (1080x1440). [Visual style specific to this card's unique design - see visual differentiation table] [If has_character=true, include full IP role lock prefix here] [English scene/layout/background descriptions] [CRITICAL INSTRUCTION FOR TEXT RENDERING] Render the following text EXACTLY as provided in Chinese characters. DO NOT translate them to English. Use a bold, clear sans-serif font. - Top right brand: \\\"练对了吗\\\" - Badge: \\\"1/10\\\" - Main Title: \\\"中文标题\\\" - Subtitle: \\\"中文副标题\\\" - Content items as needed - Bottom: \\\"中文金句\\\"\"}\n\n## 你的正在执行任务\n今日核心主题：『{{ $json.topic }}』\n\n以下是本次教程图文【必须且只能】遵循的干货骨架（来源：首席健身教练的权威认证大纲）：\n\n『{{ $json.coach_output }}』\n\n请精准提取上文教程干货，生成10张卡片的 JSON 数组。\n输出前务必逐项检查：\n✅ 每张卡片都有 has_character 字段且符合智能IP规则\n✅ ai_prompt 符合「英文画面+CRITICAL INSTRUCTION+中文引号内容」格式\n✅ 10张卡片各有不同的视觉风格描述（参照视觉差异化表格）\n✅ has_character=true 的卡片包含完整的IP角色锁定前缀",
        "hasOutputParser": false
      },
      "id": "card",
      "name": "🎨 知识卡片架构师 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1480,
        -180
      ],
      "notesInFlow": true,
      "notes": "【视觉数据工程师】\n✅ 新增：IP角色锁定系统 + has_character字段 + 视觉差异化\nIP 一致性强约束 · JSON 纯净输出\n温度：0.2（结构化精准输出）"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：练对了吗内容工作室 · 小红书爆款文案总监\n\n## 身份声明\n你是工作室的首席文案撰写者，深谙小红书平台原生写作风格和流量密码。你能将健身教练的硬核大纲转化为极具传播力的「人话」图文笔记，并彻底消除任何「AI味」。\n\n## 行为边界约束（铁律）\n1. 你只负责写小红书风格的文案（标题+正文+标签），所有干货数据必须来源于上游「健身教练 Agent」的大纲，绝不篡改。\n2. 你可以发挥文案创意来包装表达方式，加入情绪价值。\n\n## ⚠️去AI味与口语化铁律（最高优先级）\n1. **消灭AI废话**：绝对禁止使用「值得注意的是」「首先/其次/最后」「综上所述」「能够有效地」等八股语法。换成「划重点」「说到这个」「说白了」「亲测管用」。\n2. **极度口语化**：打破一切并列排比的机械感，长短句交替。加入「你说是不是？」「真的绝了！」「真的很坑」等第一人称感情发语词。\n3. **无缝植入吐槽/互动**：适度自嘲踩过的坑。结尾绝不用「希望对你有帮助」，要用「练完记得打卡！」「看完不练等于没看！」。\n\n## 去AI味实战示例（必须学习这种写法风格）\n\n**❌ AI味写法（绝对禁止）：**\n值得注意的是，引体向上是背部训练的王牌动作，首先需要掌握正确的发力方式，其次要注意呼吸节奏，最后要避免身体摆荡。\n\n**✅ 人味写法（你必须这样写）：**\n引体向上是背部训练之王！做不了就用弹力带辅助，千万别跳过。上拉2秒呼气，下放3秒吸气，想象胸口去碰杠。\n\n**❌ AI味结尾（绝对禁止）：**\n希望这个方法对你有帮助，祝你训练愉快。\n\n**✅ 人味结尾（你必须这样写）：**\n练完记得打卡！有问题评论区问我，看到必回💪\n\n**去AI味技巧清单（请在写作时主动使用）：**\n- 加入个人经历：「我之前就这么练的，腰疼了一个月，血泪教训😭」\n- 加入吐槽：「背练不大？丑死了」「白费劲」\n- 加入互动：「别问我怎么知道的」「你说是不是？」\n- 用短句：打破排比对称，长短句交替\n\n## 输出三大区块\n### 1. 【小红书爆款标题（5个备选）】\n- 带有强烈教程感和收藏价值，穿插2-3个Emoji，长度15-25字。\n\n### 2. 【小红书极简干货正文】\n- 开门见山痛点（「这篇教程帮你解决什么问题」）\n- 采用步骤拆解排版（动作名称 + 组数×次数 + 核心发力点，必须用简单大白话讲清楚！）\n- 穿插「⚠️避坑提醒」（用❌和✅对比，语气要真实如吐槽）\n- 字数严格控制在 **600-800字** 左右！（精简！小红书用户没有耐心看几千字的长篇大论，直接给核心结论）\n\n### 3. 【干货标签区】\n- 6-8个精准标签（#健身 #新手跟练 等）\n\n今日核心标题方向：『{{ $json.topic }}』\n\n以下是由教练给出的权威干货模型：\n『{{ $json.coach_output }}』\n\n请直接输出标题、高度去AI化正文和标签，无需无关废话！",
        "hasOutputParser": false
      },
      "id": "writer",
      "name": "✍️ 文案撰写 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1480,
        180
      ],
      "notesInFlow": true,
      "notes": "【爆款文案专家】\n✅ 新增：去AI味实战示例作为写作参考\n教程型文案生成 · 高Emoji密度 · 收藏型排版\n温度：0.7（文案创意发散）"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pc_topic",
              "name": "topic",
              "value": "={{ $('📌 确立最终主题').first().json.topic }}",
              "type": "string"
            },
            {
              "id": "pc_coach",
              "name": "coach_output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "pack_coach",
      "name": "💾 保存教练输出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        240
      ],
      "notesInFlow": true,
      "notes": "从上游Set节点获取topic(因chainLlm不透传) + 保存coach的text输出"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# 角色：练对了吗内容工作室 · 首席质量审核官\n\n## 身份声明\n你是工作室的最终质量把关人，拥有对健身知识的深厚功底、对小红书平台规范的精准理解、以及对视觉设计一致性的敏锐眼光。所有内容在交付用户之前必须经过你的审核。\n\n## 行为边界约束（铁律）\n1. 你只负责审核和反馈，绝不自行改写内容\n2. 你的审核意见必须具体、可执行，不能含糊其辞\n3. 审核通过标准严格但公正——不是挑刺，而是确保专业品质\n\n## 审核输入\n\n### 知识卡片 JSON 数据：\n{{ $json.cards_output }}\n\n### 小红书配套正文：\n{{ $json.writer_output }}\n\n### 原始教程大纲（事实基准线）：\n{{ $json.coach_output }}\n\n### 今日主题：\n{{ $json.topic }}\n\n## 审核维度（逐项执行，每维度20分，满分100分）\n\n### 一、健身术语准确性审核（权重：最高）— 20分\n逐字检查以下高频易错术语是否全部正确：\n- ✅ 肩胛骨（❌肩夹骨）\n- ✅ 背阔肌（❌背括肌）\n- ✅ 斜方肌（❌斜方机）\n- ✅ 核心肌群\n- ✅ 渐进式超负荷、肌肥大、顶峰收缩、离心控制\n标记出发现的任何术语错误，每个错误扣4分。\n\n### 二、知识卡片结构与信息密度完整性 — 20分\n- 生成的最终卡片数量是否在 10-12 张之间？（否则扣5分）\n- 每张卡片是否都包含 `has_character` 字段？（缺少一张扣1分）\n- has_character 值是否符合智能IP规则？（cover/tutorial/comparison=true, knowledge/list/schedule=false）（错误一张扣2分）\n- card_id 是否连续递增直至最后一张？（否则扣3分）\n- content_type 是否由浅入深铺排？（否则扣3分）\n- 每条 main_content 的 description 是否都是 20-50 字的完整句子？（不足则每处扣1分）\n\n### 三、IP 一致性、ai_prompt 结构及防翻译验证 — 20分\n- ⚠️ 必须验证：`ai_prompt` 是否为『英文描述画面 + CRITICAL INSTRUCTION + 中文引号包裹防翻译机制』结构？\n  - 是否包含 `[CRITICAL INSTRUCTION FOR TEXT RENDERING]`？（缺少扣5分）\n  - 是否包含 `DO NOT translate them to English`？（缺少扣3分）\n  - 中文内容是否在双引号内？（未包裹每处扣1分）\n- ⚠️ 必须验证：has_character=true 的卡片是否包含完整的【角色锁定前缀】？（缺少一张扣2分）\n- ⚠️ 必须验证：是否符合「智能 IP 出现逻辑」？（has_character 分配是否正确）\n- ⚠️ 必须验证：10张卡片是否有视觉差异化描述？（如果所有卡片视觉风格相同，扣5分）\n\n### 四、内容一致性（卡片 vs 文案）— 20分\n- 卡片中的训练步骤是否与文案中的步骤一一对应？（不对应每处扣2分）\n- 组数×次数等数据是否完全不一致？（每处不符扣3分）\n\n### 五、文案小红书适配性 — 20分\n- 是否包含5个备选标题和丰富的Emoji表情及标签？（缺少扣3分）\n- 是否已经去AI味？（每发现一处八股形式扣2分：「值得注意的是」「首先/其次/最后」「综上所述」「希望对你有帮助」等）\n- 字数是否在600-800字范围内？（超标或不足扣2分）\n- 结尾是否使用了互动式结尾而非客套话？（否则扣3分）\n\n## 输出格式\n请依照以上维度出具【质量审核报告】：\n\n```\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 质量审核报告\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n审核结论：[✅通过（≥85分） / ⚠️有小瑕疵（70-84分） / ❌需修改（<70分）]\n总体评分：[X/100]\n\n┌─────────────┬──────┬──────────────────────────────┐\n│ 审核维度      │ 得分 │ 扣分原因                     │\n├─────────────┼──────┼──────────────────────────────┤\n│ 术语准确性    │ /20  │ ...                         │\n│ 卡片结构完整性 │ /20  │ ...                         │\n│ IP一致性/防翻译│ /20  │ ...                         │\n│ 内容一致性    │ /20  │ ...                         │\n│ 小红书适配性  │ /20  │ ...                         │\n└─────────────┴──────┴──────────────────────────────┘\n\n发现问题与修改建议：\n[具体列出每个问题及其修改建议，按严重程度排序]\n```",
        "hasOutputParser": false
      },
      "id": "qa",
      "name": "✅ 质量审核 Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2240,
        0
      ],
      "notesInFlow": true,
      "notes": "【终审质检官】\n✅ 新增：has_character字段审核 + 角色锁定前缀验证 + 视觉差异化审核 + 评分表格\n五维度全面审核 · 术语+结构+一致性+适配性\n温度：0.1（精准审核判断）"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2136e0d9-b69c-4ec8-b634-118df2c5ed34",
              "name": "MarkdownOutput",
              "value": "=\n# 🔥 今日主题\n{{ $json.topic }}\n\n---\n\n# 🎨 知识卡片绘图 Prompt（10张教程卡片·含IP角色锁定+智能IP+视觉差异化）\n{{ $json.cards_output }}\n\n---\n\n# ✍🏻 小红书配套正文（已去AI味润色）\n{{ $json.writer_output }}\n\n---\n\n# ✅ 质量审核报告（五维百分制）\n{{ $json.qa_output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "output",
      "name": "📦 输出最终内容",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        0
      ],
      "notesInFlow": true,
      "notes": "最终产出包含4大板块：\n① 主题确认\n② 知识卡片JSON（含has_character+IP角色锁定+视觉差异化）\n③ 润色后文案\n④ 质量审核报告（百分制评分表）"
    },
    {
      "parameters": {
        "model": "deepseek-ai/DeepSeek-V3.2",
        "options": {
          "baseURL": "https://api.siliconflow.cn/v1",
          "temperature": 0.1,
          "topP": 0.7
        }
      },
      "id": "model_precise",
      "name": "精准判断引擎 (T=0.1)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        680,
        420
      ],
      "notesInFlow": true,
      "notes": "🧊 低温精准模式\n服务于：质量审核\n确保零幻觉的决策判断"
    },
    {
      "parameters": {
        "model": "deepseek-ai/DeepSeek-V3.2",
        "options": {
          "baseURL": "https://api.siliconflow.cn/v1",
          "temperature": 0.2,
          "topP": 0.8
        }
      },
      "id": "model_expert",
      "name": "专业知识引擎 (T=0.2)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ],
      "notesInFlow": true,
      "notes": "🔬 专业严谨模式\n服务于：健身教练 + 知识卡片架构师\n确保知识准确性和结构化输出"
    },
    {
      "parameters": {
        "model": "deepseek-ai/DeepSeek-V3.2",
        "options": {
          "baseURL": "https://api.siliconflow.cn/v1",
          "temperature": 0.7,
          "topP": 0.9
        }
      },
      "id": "model_creative",
      "name": "创意文案引擎 (T=0.7)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        940,
        520
      ],
      "notesInFlow": true,
      "notes": "🔥 创意发散模式\n服务于：热点趋势 + 文案撰写\n允许灵感发散和文案创意"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pcc_topic",
              "name": "topic",
              "value": "={{ $('💾 保存教练输出').first().json.topic }}",
              "type": "string"
            },
            {
              "id": "pcc_coach",
              "name": "coach_output",
              "value": "={{ $('💾 保存教练输出').first().json.coach_output }}",
              "type": "string"
            },
            {
              "id": "pcc_cards",
              "name": "cards_output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "pack_cards",
      "name": "💾 保存卡片输出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        40
      ],
      "notesInFlow": true,
      "notes": "从上游Set节点获取topic+coach(因chainLlm不透传) + 保存card的text输出"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pw_topic",
              "name": "topic",
              "value": "={{ $('💾 保存卡片输出').first().json.topic }}",
              "type": "string"
            },
            {
              "id": "pw_coach",
              "name": "coach_output",
              "value": "={{ $('💾 保存卡片输出').first().json.coach_output }}",
              "type": "string"
            },
            {
              "id": "pw_cards",
              "name": "cards_output",
              "value": "={{ $('💾 保存卡片输出').first().json.cards_output }}",
              "type": "string"
            },
            {
              "id": "pw_writer",
              "name": "writer_output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "pack_writer",
      "name": "💾 保存全部数据",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        180
      ],
      "notesInFlow": true,
      "notes": "从上游Set节点获取topic+coach+cards(因chainLlm不透传) + 保存writer的text输出"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "pq_topic",
              "name": "topic",
              "value": "={{ $('💾 保存全部数据').first().json.topic }}",
              "type": "string"
            },
            {
              "id": "pq_coach",
              "name": "coach_output",
              "value": "={{ $('💾 保存全部数据').first().json.coach_output }}",
              "type": "string"
            },
            {
              "id": "pq_cards",
              "name": "cards_output",
              "value": "={{ $('💾 保存全部数据').first().json.cards_output }}",
              "type": "string"
            },
            {
              "id": "pq_writer",
              "name": "writer_output",
              "value": "={{ $('💾 保存全部数据').first().json.writer_output }}",
              "type": "string"
            },
            {
              "id": "pq_qa",
              "name": "qa_output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "pack_qa",
      "name": "💾 保存审核结果",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        120
      ],
      "notesInFlow": true,
      "notes": "从上游Set节点获取全部历史数据(因chainLlm不透传) + 保存qa的text输出"
    }
  ],
  "connections": {
    "定时或手动触发": {
      "main": [
        [
          {
            "node": "【用户参数设定】",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "【用户参数设定】": {
      "main": [
        [
          {
            "node": "❓ 检查是否指定主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ 检查是否指定主题": {
      "main": [
        [
          {
            "node": "📌 确立最终主题",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔥 热点趋势 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 热点趋势 Agent": {
      "main": [
        [
          {
            "node": "📌 确立最终主题",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📌 确立最终主题": {
      "main": [
        [
          {
            "node": "💪 健身教练 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💪 健身教练 Agent": {
      "main": [
        [
          {
            "node": "💾 保存教练输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 保存教练输出": {
      "main": [
        [
          {
            "node": "🎨 知识卡片架构师 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 知识卡片架构师 Agent": {
      "main": [
        [
          {
            "node": "💾 保存卡片输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 保存卡片输出": {
      "main": [
        [
          {
            "node": "✍️ 文案撰写 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ 文案撰写 Agent": {
      "main": [
        [
          {
            "node": "💾 保存全部数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 保存全部数据": {
      "main": [
        [
          {
            "node": "✅ 质量审核 Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ 质量审核 Agent": {
      "main": [
        [
          {
            "node": "💾 保存审核结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 保存审核结果": {
      "main": [
        [
          {
            "node": "📦 输出最终内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "创意文案引擎 (T=0.7)": {
      "ai_languageModel": [
        [
          {
            "node": "🔥 热点趋势 Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "✍️ 文案撰写 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "专业知识引擎 (T=0.2)": {
      "ai_languageModel": [
        [
          {
            "node": "💪 健身教练 Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "🎨 知识卡片架构师 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "精准判断引擎 (T=0.1)": {
      "ai_languageModel": [
        [
          {
            "node": "✅ 质量审核 Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}